body{
	background-color: #FEF8E2;
}
h1{
	color: #C5474B;
	font-size: 60px;
	text-align: center;
	padding: 0;
	margin-top: 30px;
	text-shadow: #F5B67C 10px 0 10px;
}
label{
	font-weight: bold;
}
span{
	font-weight: bold;
	text-align: center;
	text-decoration: 2px solid  #C5474B;
	color:#C5474B;
	font-size: 30px;
}
form{
	margin-right: 5px solid #C5474B;
}
#form{
	display: grid;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 3rem #c6ccd8;
	padding: 10px;
    justify-content: center;
    align-items: center;
}

label{
	margin-top: 10px;
}
#names{
	margin-top: 10px;
	display: inline;
}
button{
	font-size: 25px;
	font-weight: bold;
	color: black;
	margin: 10px;
}