html{
	margin: 0;
	padding: 0;
}
body{
	background: linear-gradient(#FEF8E2,#fdf2c9);
}
.back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
h1{
	color: #C5474B;
	font-size: 400%;
	text-align: center;
	padding: 0;
	margin: 0;
	text-shadow: #F5B67C 10px 0 10px;

}
#ugh{
	margin-top: 60px;
	/* align-content: center;
  display: grid;
  place-items: center; */
  text-align: center;
}
a{
	color: #C5474B;
	font-size: 25px;
	font-weight: bold;

}
a:hover{
	color: black;
}
table{
	align-content: center;
	text-align: center;
	border: 2px solid #C5474B;
}
.v{
	border-right: 2px solid #C5474B;
	border-left: 2px solid #C5474B;
}
.h{
	border-bottom: 2px solid #C5474B;
	border-top: 2px solid #C5474B;
}

tr{
	width: auto;
}
.container {
  position: relative;
  width: 20%;
}
.image {
  width: auto;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FEF8E2 ;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}
.container:hover .overlay {
  transform: scale(1);
}
.text {
  color: black;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  align-content: center;
  top: 20%;
  left: 20%;
  text-shadow: #e5e5e5 1px 0 10px;
  transform: translate(-20%, -20%);
  text-align: center;
  text-shadow: #FFFFFF 10px 0 20px;
}
.other{
  text-align: left;
}