html{
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}
body{
	background-color: #FEF8E2;
	background-image: linear-gradient(to bottom right, #FEF8E2, #C5474B);
	text-align: center;
	justify-content: center;
}
ol{
	margin-block-start: 0;
	padding-inline-start: 0;
}
h1{
	color: #C5474B;
	font-size: 70px;
	text-align: center;
	padding: 0;
	margin: 0;
	text-shadow: #F5B67C 10px 0 10px;
}

#menu{
	width: 100%;
	font-size: 20px;
	color: #FEF8E2;
	margin-top: 20px;
	background-color: #C5474B;
	/* border: 1px solid black; */
	text-align: center;
	padding: 8px;
}
a:hover{
	color: white;
}
.m span:hover{
	color: black;
	text-align: center;
	justify-self: center;
}
#menu tr td a{
	color: #FEF8E2;
}

#menu tr td a:hover{
	color: black;
} 
.sidenav{
	color: #C5474B;
	font-size: 15px;
	padding: 6px 8px 6px 8px;
	font-weight: bold;

}
.sidenav{
	height: auto;
	width: 160px;
	position:fixed;
	z-index: 1;
	border: 5px solid #C5474B ;	
	background-color:#FEF8E2 ;
	overflow-x: hidden;
	padding-top: 20px 20px 20px 0;
	margin-top: 100px;
}
.sidenav a{
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: #C5474B;
	display: block;
}
.sidenav a : hover{
	color: white;
}

th{
	color: #FEF8E2;
}
#focus{
	margin-top: 60px;
	display: flex;
    align-items: center;
	text-align: center;
    justify-content: center;
    height: 100%;
}
#focus img{
	border-radius: 2%;
	box-shadow: 0 0.2rem 0.5rem #FEF8E2;
}
p{
	color:#FEF8E2;
	font-size: 25px;
	background-color: #C5474B;
	text-align: center;
	font-style: bold;
}
.container {
  position: relative;
  width: 20%;
}
.image {
  width: auto;
  height: auto;
  margin: 0;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 10;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}
.container:hover .overlay {
  transform: scale(1);
}
.text {
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 20%;
  text-shadow: #e5e5e5 1px 0 10px;
  transform: translate(-20%, -20%);
  text-align: center;
  text-shadow: #FFFFFF 10px 0 20px;
}
/* #trendy{
	align-content: center;
} */
#trendy td{
	margin: auto;
	align-content: center;
}

#trendy img{
	width: 100%;
	align-content: center;
	border: 6px solid #C5474B;
	margin-bottom: 20px;
}
.bg td{
	background-color: #e5b995;
	font-size-adjust: 1px;
}

/*gallery*/

#gallery{
	font-size: 20px;
	width: 60%;
	margin: 30px auto;
}

#gallery1{
	color: #C5474B;
	font-size: 35px;
	text-align: center;
	padding: 0;
	margin:10px  0;
	text-shadow: #F5B67C 10px 0 10px;

}
.gallery2{
	font-size: 15px;
	width: 60%;
	margin: auto;
	padding: 10px;
	color: black;
	background-color: #FEE690;
	text-align: center;
	border-left: 5px solid #C5474B;
	border-right: 5px solid #C5474B;
	font-weight: bold;
}
#gallery3{
	list-style-type: none;
}
.g{
	font-size: 15px;
	width: 70%;
	display: block;
	margin: auto;
	background-color: #FEE690;
	text-align: center;
	border-left: 5px solid #C5474B;
	border-right: 5px solid #C5474B;
	padding: 10px;
	
}
.heading{
	text-align: center;
	/* color: #C5474B; */
	color: #b54346;
	font-size: 30px;
	text-decoration-line: 1px solid;
}
.g1{
	text-align: center;
	width: 400px;
	border-radius: 2% ;
	margin-bottom: 10px;
}
#aboutus{
	color: #b54346;
	font-size: 35px;
	text-align: center;
	padding: 10px;
	text-shadow: #F5B67C 10px 0 10px;
	margin: 20px 20px 20px 20px;
	border-top: 4px solid #C5474B ;

}
#aboutus1{
	font-size: 15px;
	background-color: #FEE690;
	text-align: center;
	border:4px solid #C5474B;
	width: 50%;
	margin: auto;
	padding: 10px;
}
#address{
	color: #b54346;
	font-size: 35px;
	text-align: center;
	padding: 0;
	text-shadow: #F5B67C 10px 0 10px;
	margin: 20px 20px 20px 20px;
}

.h{
	border: 4px solid #C5474B;
	border-top: none;
	border-bottom: none;
	font-size: 15px;
	background-color: #FEE690;
}
.v{
	font-size: 14px;
	font-weight: bolder;
	background-color: #FEE690;
	
}
#contact{
	color: #b54346;
	font-size: 35px;
	text-align: center;
	padding: 0;
	text-shadow: #F5B67C 10px 0 10px;
	margin: 20px 20px 20px 20px;
}
#contact1{
	text-align: center;
	width: 60%;
	margin:10px auto;
	border-collapse: collapse;
}
.a{
	/* border: 2px solid #C5474B; */
	font-size: 14px;
	background-color: #FEE690 ;
	text-align: center;
	font-weight: bolder;
	width: 30%;
}
.b{
	font-size: 15px;
	background-color: #FEE690;
	padding: 3px;
	/* border: 2px solid #C5474B; */
}
.gap{
	width: 30%;	
	border: 4px solid #C5474B;
	border-bottom: none;
	border-top: none;
}