html{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FEF8E2;
}
h1{
	
	color: #C5474B;
	font-size: 100px;
	text-align: center;
	padding: 0;
	margin: 0;
	text-shadow: #F5B67C 10px 0 10px;
}
#menu{
	width: 100%;
	font-size: 30px;
	color: #FEF8E2;
	margin-top: 20px;
	background-color: #C5474B;
	border: 1px solid black;
	text-align: center;
}

.sidenav{
	height: auto;
	width: 160px;
	position:fixed;
	z-index: 1;
	border: 5px solid #C5474B ;	
	background-color:#FEF8E2 ;
	overflow-x: hidden;
	padding-top: 20px 20px 20px 0;
	margin-top: 100px;
}
.sidenav a{
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: #C5474B;
	display: block;
}
.sidenav a: hover{
	color: white;
}


th{
	color: #FEF8E2;
}
#focus{
	margin-top: 60px;
	align-content: center;
	margin-left: 20%;
}
p{
	
	color:#FEF8E2;
	font-size: 40px;
	background-color: #C5474B;
	text-align: center;
	font-style: bold;
}
.container {
  position: relative;
  width: 20%;
}
.image {
  width: 20%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 10;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}
.container:hover .overlay {
  transform: scale(1);
}
.text {
  color: white;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 20%;
  text-shadow: #e5e5e5 1px 0 10px;
  transform: translate(-20%, -20%);
  text-align: center;
  text-shadow: #FFFFFF 10px 0 20px;
}
#trendy td{
	margin: auto;
	align-content: center;
}

#trendy img{
	width: 100%;
	align-content: center;
	border: 6px solid #C5474B;
}
.bg td{
	background-color: #e5b995;
	font-size-adjust: 1px;
}
#C5474B